trigger:
- main

pool:
  name: self-hosted-pool   # Your agent pool name

variables:
  imageName: myapp
  dockerfilePath: Dockerfile
  tag: $(Build.BuildId)

steps:
- checkout: self

- task: Docker@2
  displayName: Build and Push Image to ACR
  inputs:
    containerRegistry: myapp_register_connection
    repository: $(imageName)
    command: buildAndPush
    Dockerfile: $(dockerfilePath)
    tags: |
      $(tag)
      latest
