trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  acrLoginServer: myapp12.azurecr.io
  imageName: myapp
  dockerfilePath: Dockerfile
  tag: $(Build.BuildId)

steps:
- task: Docker@2
  displayName: Build and Push Image to ACR
  inputs:
    containerRegistry: myapp12   # Service connection name
    repository: $(imageName)
    command: buildAndPush
    Dockerfile: $(dockerfilePath)
    tags: |
      $(tag)
      latest
